﻿@model WebApplication2.Models.LoginModel
@{
    ViewBag.Title = "Index";
}

<h3>Simple We API Login Form </h3>
@using (Html.BeginForm("Index", "Home"))
{
    <table width="40%" cellpadding="1" cellspacing="5">
        <tr>
            <td colspan="2" style="color:#f00;font-size:larger">@ViewBag.Status</td>
        </tr>
        <tr>
            <td align="right">User Name :</td>
            <td>@Html.TextBoxFor(m => m.UserID, new { @style = "width:200px", @id = "txtusername" })</td>
        </tr>
        <tr>
            <td align="right">User Password :</td>
            <td>@Html.PasswordFor(m => m.Password, new { @style = "width:200px", @id = "txtuserpassword" })</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Login" title="login" onclick=" display();" />
            </td>
        </tr>
    </table>
} 